

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
	height:100%;
}

#wrap {
	height:calc(100% - 20px);
}

footer, #push {
	height:20px;
	padding:0 20px;
}

#chat_area {
	background-color: #e3e3e3;
}









